@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Seven-Segment";
    src: local("Seven-Segment"), url("./assets/Seven\ Segment.ttf") format("truetype");
}

.font-seven-segment {
    font-family: "Seven-Segment";
}

.operation-button {
    @apply 
        border 
        border-gray-400 
        rounded 
        px-2 w-10 
        bg-gray-100 hover:bg-gray-200 active:bg-blue-400
        transition;
}

.no-spinner {
    @apply appearance-none;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    @apply appearance-none;
}

.no-spinner {
    @apply [appearance:textfield];
}